@model InventoryTool.Models.CRdetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CRdetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Atacode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Atacode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requested)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requested)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authorized)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorized)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paymentdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paymentdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
